<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas</title>
    <script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/a1a6fb16852d1bf143659b9458e22a6f.js"></script>
    <link rel="icon" type="image/jpg" href="../favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <nav>
        <form id="form-buscador">
            
            <input type="text" id="buscador" placeholder=" Buscar.." name="Buscar">
            <button type="submit" id="boton"><i>Enviar</i></button>
        </form>
        <img src="../favicon.png" alt="LOGOTIPO" title="AUTOCAR" id="logonav" height="1024" width="1024">
        
        <ul class="menunav">
            <li class="menunav2"><a href="../index.html" class="no-cambia">Inicio</a></li>
            <li class="menunav2"><a href="productos.html" class="no-cambia">Nuestros Vehículos</a></li>
            <li class="menunav2"><a href="ofertas.html" class="cambia">Ofertas</a> </li>
            <li class="menunav2"><a href="contacto.html" class="no-cambia">Contacto</a></li>
            
        </ul>
    </nav>
    
        <main id="paginaofertas">
            <h2 class="ofertasespeciales">¡Ofertas Especiales en AUTOCAR!</h2>
            <p class="textooferta">¡No te pierdas nuestras increíbles ofertas en vehículos de segunda mano! En AUTOCAR, queremos que encuentres el coche perfecto al mejor precio. Echa un vistazo a nuestras promociones actuales:</p>
            <div class="ofertas">
                <div class="oferta"><span>Descuentos de Temporada:</span><br> Aprovecha nuestros descuentos exclusivos en una amplia gama de modelos. ¡Ahorra hasta un 20% en coches seleccionados!</div>
                <div class="oferta"><span>Financiación sin Intereses:</span><br> Por tiempo limitado, ofrecemos financiación sin intereses en todos nuestros vehículos. ¡Llévate tu coche ideal sin preocuparte por los intereses!</div>
                <div class="oferta"><span>Garantía Extendida Gratis:</span><br> Compra tu coche con total tranquilidad. Obtén una garantía extendida gratuita en todas las compras realizadas este mes.</div>
                <div class="oferta"><span>Bonificación por Entrega: </span><br>¿Tienes un coche antiguo? Te ofrecemos una bonificación especial por entregarlo como parte de pago. ¡Aprovecha esta oportunidad para actualizar tu vehículo!</div>
                <div class="oferta"><span>Promociones Flash:</span><br> Mantente atento a nuestras promociones flash. Ofertas relámpago en modelos populares que no querrás perderte.</div>

            </div >
            <h3>Aqui tienes algunos de nuestros vehículos en ocasión actualmente.</h3><br>
            <table class="tabla1">
              
                <tr>
                   <td><img src="../assets/images/oferta1.jpeg" alt="seat león" title="Seat León" class="img1" height="1024" width="703"> </td>
                   <td><img src="../assets/images/oferta2.jpg" alt="Kia" title="Kia" class="img1" height="800" width="600"></td>
                   <td><img src="../assets/images/oferta3.jpg" alt="Citroen" title="Citroen" class="img2" height="1528" width="800" ></td>
                   <td><img src="../assets/images/oferta4.jpg" alt="Honda Civic" title="Honda Civic" class="img2" height="1280" width="720"></td>
                   </tr>
                   <tr>
                    <td>Combustible: Diesel</td>
                    <td>Combustible: Gasolina</td>
                    <td>Combustible: Diesel</td>
                    <td>Combustible: Diesel</td>
                   </tr>
                   <tr>
                    <td>KM:230.000</td>
                    <td>KM:217.000</td>
                    <td>KM:156.000</td>
                    <td>KM:180.000</td>
                    
                   </tr>
                   <tr>
                    <td>Año: 2021</td>
                    <td>Año: 2023</td>
                    <td>Año: 2022</td>
                    <td>Año: 2015</td>
                   <tr>
                    <td>Combustible:</td>
                    <td>Combustible:</td>
                    <td>Combustible:</td>
                    <td>Combustible:</td>
                   </tr>
                   <tr>
                    <td>Combustible:</td>
                    <td>Combustible:</td>
                    <td>Combustible:</td>
                    <td>Combustible:</td>
                   </tr>
                
            </table>
         
            <form>
                
            </form>
    </main>
    <footer>
        <div class="redessociales">
            <a href="#">
                <img src="../assets/redes-sociales/logox.png" alt="Cuenta X" class="redsocial" height="930" width="937">
                
            </a>
            <a href="#">
                <img src="../assets/redes-sociales/logo_facebook.png" alt="Cuenta Facebook" class="redsocial" height="936" width="944">
            </a>
            <a href="#">
                <img src="../assets/redes-sociales/logo_instagram.png" alt="Cuenta Instagram" class="redsocial" height="931" width="938">
            </a>
        </div>
        <div class="flex">
        
            <p class="creditos">Pagina Web creada por: Iván Hernández Vegue</p>
            <p class="creditos">&copy;2025 AUTOCAR - Su concesionario profesional</p>
            
            <p class="creditos">&#174; AUTOCAR ES UNA MARCA REGISTRADA</p>
        </div>

    </footer>
</body>
</html>