<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/a1a6fb16852d1bf143659b9458e22a6f.js"></script>
    <link rel="icon" type="image/jpg" href="../favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <nav>
        <form id="form-buscador">
            
            <input type="text" id="buscador" placeholder=" Buscar.." name="Buscar">
            <button type="submit" id="boton"><i>Enviar</i></button>
        </form>
        <img src="../favicon.png" alt="Logotipo" id="logonav" height="1024" width="1024">
        
        <ul class="menunav">
            <li class="menunav2"><a href="../index.html" class="no-cambia">Inicio</a></li>
            <li class="menunav2"><a href="productos.html" class="cambia">Nuestros Vehículos</a></li>
            <li class="menunav2"><a href="ofertas.html" class="no-cambia">Ofertas</a></li>
            <li class="menunav2"><a href="contacto.html" class="no-cambia">Contacto</a></li>
            
        </ul>
    </nav>
    <main>
        
        
            <div class="grid">
                <div class="contenido"><img src="../assets/images/Cochesgaleria/audia3.webp" alt="AUDI A3 Sportback" title="AUDI A3 Sportback" class="vehiculo" height="2753" width="2065">
                    <p class="descripcion">
                        <span class="datos">AUDI A3 Sportback</span>
                        <span class="datos">KM: 20.000</span>
                        <span class="datos">Combustible: Diesel</span>
                        <span class="datos">Año: 2024</span>
                        <span class="datos">Precio: 28.499€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/fordmondeo.webp" alt="Ford Mondeo" title="Ford Mondeo" class="vehiculo" height="3840" width="2553">
                    <p class="descripcion">
                        <span class="datos">FORD Mondeo</span>
                        <span class="datos">KM: 184.000</span>
                        <span class="datos">Combustible: Diesel</span>
                        <span class="datos">Año: 2019</span>
                        <span class="datos">Precio: 13.449€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/MercecesClaseA.jpg" alt="Mercedes-Benz Clase A" title="Mercedes-Benz Clase A" class="vehiculo" height="3840" width="2160">
                    <p class="descripcion">
                        <span class="datos">MERCEDES-BENZ Clase A</span>
                        <span class="datos">KM: 134.000</span>
                        <span class="datos">Combustible: Diesel</span>
                        <span class="datos">Año: 2020</span>
                        <span class="datos">Precio: 24.900€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/citroenc3puretech.jpg" alt="Citroen C3 PureTech" title="Citroen C3 PureTech" class="vehiculo" height="1383" width="1000">
                    <p class="descripcion">
                        <span class="datos">CITROEN C3 PureTech</span>
                        <span class="datos">KM: 105.000</span>
                        <span class="datos">Combustible: Diesel</span>
                        <span class="datos">Año: 2015</span>
                        <span class="datos">Precio: 12.500€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/HondaCivic.webp" alt="Honda Civic" title="Honda Civic" class="vehiculo" height="1024" width="768">
                    <p class="descripcion">
                        <span class="datos">HONDA Civic</span>
                        <span class="datos">KM: 26.895</span>
                        <span class="datos">Combustible: Gasolina</span>
                        <span class="datos">Año: 2021</span>
                        <span class="datos">Precio: 23.795€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/DaciaSandero.webp" alt="Dacia Sandero" title="Dacia Sandero" class="vehiculo" height="1280" width="720">
                    <p class="descripcion">
                        <span class="datos">DACIA Sandero</span>
                        <span class="datos">KM: 15.282</span>
                        <span class="datos">Combustible: Gasolina</span>
                        <span class="datos">Año: 2020</span>
                        <span class="datos">Precio: 14.099€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/Pasat.jpg" alt="Volkswagen Pasat" title="Volkswagen Pasat" class="vehiculo" height="1280" width="720">
                    <p class="descripcion">
                        <span class="datos">VOLKSWAGEN Pasat</span>
                        <span class="datos">KM: 125.000</span>
                        <span class="datos">Combustible: Gasolina</span>
                        <span class="datos">Año: 2013</span>
                        <span class="datos">Precio: 12.500€</span>

                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/peugeot207.webp" alt="Peugeot 207" title="Peugeot 207" class="vehiculo" height="600" width="420">
                    <p class="descripcion">
                        <span class="datos">PEUGEOT 207</span>
                        <span class="datos">KM: 180.000</span>
                        <span class="datos">Combustible: Diesel</span>
                        <span class="datos">Año: 2013</span>
                        <span class="datos">Precio: 5.500€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/ToyotaYaris.webp" alt="Toyota Yaris" title="Toyota Yaris" class="vehiculo" height="3840" width="2880">
                    <p class="descripcion">
                        <span class="datos">TOYOTA Yaris</span>
                        <span class="datos">KM: 180.900</span>
                        <span class="datos">Combustible: Gasolina</span>
                        <span class="datos">Año: 2016</span>
                        <span class="datos">Precio: 8.990€</span>

                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/BMWserie1.webp" alt="Bmw Serie 1" title="Bmw Serie 1"  class="vehiculo" height="960" width="720">
                    <p class="descripcion">
                        <span class="datos">BMW Serie 1</span>
                        <span class="datos">KM: 75.000</span>
                        <span class="datos">Combustible: Diesel</span>
                        <span class="datos">Año: 2009</span>
                        <span class="datos">Precio: 12.000€</span>
                        

                        
                    </p>
                    
                </div>
                <div class="contenido"><img src="../assets/images/Cochesgaleria/polo.jpg" alt="Volkswagen Polo" title="Volkswagen Polo" class="vehiculo" height="1553" width="1035">
                    <p class="descripcion">
                        <span class="datos">VOLKSWAGEN Polo</span>
                        <span class="datos">KM: 75.000</span>
                        <span class="datos">Combustible: Gasolina</span>
                        <span class="datos">Año: 2011</span>
                        <span class="datos">Precio: 10.999€</span>
                        
                        

                        
                    </p>
                    
                </div>
                <div class="contenido">
                    <img src="../assets/images/Cochesgaleria/renaultclio.jpg" alt="Renault Clio" title="Renault Clio" class="vehiculo" height="3840" width="2880">
                    <p class="descripcion">
                        <span class="datos">RENAULT Clio</span>
                        <span class="datos">KM: 160.000</span>
                        <span class="datos">Combustible: Gasolina</span>
                        <span class="datos">Año: 2014</span>
                        <span class="datos">Precio:5.500€</span>
                        

                        
                    </p>
                    
                </div>
                
            </div>
            
            
            <p class="informacion">Para mas información sobre precios y otros vehículos <a href="contacto.html">¡Contactanos!</a></p>    
               
                
        
       
    </main>
    <footer>
        <div class="redessociales">
            <a href="#">
                <img src="../assets/redes-sociales/logox.png" alt="Cuenta X" class="redsocial" height="930" width="937">
                
            </a>
            <a href="#">
                <img src="../assets/redes-sociales/logo_facebook.png" alt="Cuenta Facebook" class="redsocial" height="936" width="944">
            </a>
            <a href="#">
                <img src="../assets/redes-sociales/logo_instagram.png" alt="Cuenta Instagram" class="redsocial" height="931" width="938">
            </a>
        </div>
        <div class="flex">
        
            <p class="creditos">Pagina Web creada por: Iván Hernández Vegue</p>
            <p class="creditos">&copy;2025 AUTOCAR - Su concesionario profesional</p>
            
            <p class="creditos">&#174; AUTOCAR ES UNA MARCA REGISTRADA</p>
        </div>

    </footer>
</body>
</html>